<div [style.margin-left.px]='updateMargin()' class="salah bg-body-tertiary">
    <div class="z-1 w-100">
        <div>
            <div class="d-flex justify-content-evenly">
                <div class="card" style="width: 14rem;">
                    <div class="card-body">
                      <h5 class=" d-flex justify-content-center align-items-center pi-shopping-bag pi me-2 pb-2 icon ico-circle lh-lg bg-icon rounded-circle"></h5>
                      <h6 class="card-subtitle mb-2 text-body-secondary mt-3">Total Orders</h6>
                      <p class="card-text fs-4 fw-bold">124</p>
                    </div>
                  </div>
                <div class="card" style="width: 14rem;">
                    <div class="card-body">
                      <h5 class=" d-flex justify-content-center align-items-center pi-money-bill pi me-2 pb-2 icon ico-circle lh-lg bg-icon rounded-circle"></h5>
                      <h6 class="card-subtitle mb-2 text-body-secondary mt-3">Total Sales</h6>
                      <p class="card-text fs-4 fw-bold">$240,500<span class="ms-2 rounded-4 fs-6 p-1 bg-success2">10%</span></p>
                    </div>
                  </div>
                <div class="card" style="width: 14rem;">
                    <div class="card-body">
                      <h5 class=" d-flex justify-content-center align-items-center pi-money-bill pi me-2 pb-2 icon ico-circle lh-lg bg-icon rounded-circle"></h5>
                      <h6 class="card-subtitle mb-2 text-body-secondary mt-3">Total Revenue</h6>
                      <p class="card-text fs-4 fw-bold">$24.500<span class="ms-2 rounded-4 fs-6 p-1 bg-success2">10%</span></p>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>
