.salah{
    margin-left: 300px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-evenly;
    padding: 7rem 2rem 2rem 4rem;
    transition: margin-left 0.2s;
}
.sidebar{
    margin-left: 300px;
}
.sidebar.active {
    margin-left: 100px; /* Slide-in effect */
}
.input-group .form-control {
    position: relative;
    flex: 0.6 0;
    width: 50%;
    min-width: 0;
}
.w-s{
    width: 180px;
}
.p-multiselect:not(.p-disabled).p-focus{
    border-color:  #dee2e6;
}
.p-select:not(.p-disabled).p-focus{
    border-color:  #dee2e6;
}
.hs{
    height: 36px;
}
.p-multiselect {
    border: 1px solid #dee2e6
}
.p-select{
    border: 1px solid #dee2e6
}
.p-multiselect-label {
    color: #000000; 
}
.bgs{
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
}
.form-control{
    width: 40%;
}
.select-h{
    padding: 0rem 0rem;
}
.hs{
    height: 36px;
}
.form-select{
    width: 40%;
}
.form2{
    width: 100%;
}
.ws{
    width: 209px;
}
.z{
    z-index: 100;
}
.w-s2{
    width: 410px;
}
.form-select2{
    width: 100%;
}

/* Change the text color of selected items in the dropdown */
::ng-deep .p-multiselect .p-multiselect-label {
    color: #000 !important; /* Change to your desired color */
  }
::ng-deep .p-select .p-select-label {
    color: #000 !important; /* Change to your desired color */
  }
  
::ng-deep  .p-select-label.p-placeholder {
    color: #000 !important;
}
  /* Change background and text color of selected items in the dropdown panel */
  ::ng-deep .p-multiselect .p-multiselect-item.p-highlight {
    background-color: #007bff !important; /* Blue background for selected items */
    color: #fff !important; /* White text for selected items */
  }